RewriteEngine on
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteCond %{REQUEST_METHOD} ^(GET|HEAD)$
RewriteRule ^(.+) $1.html [QSA]
RewriteRule ^/coffee-map$ http://%{HTTP_HOST}/coffee [QSA,R=301,L]

AddCharset UTF-8 .html
