version: "3"
services:
  site:
    command: jekyll serve --livereload
    image: jekyll/jekyll:latest
    volumes:
    - .:/srv/jekyll
    - bundle:/usr/local/bundle
    ports:
    - "3000:3000"
    - "4000:4000"
    - "35729:35729"
volumes:
  bundle:
