article h1,
article h2 {
  font-size: 1.3em;
}
article h3 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #268bd2;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
a:visited {
  color: #d33682;
  color: #268bd2;
}
a:active {
  color: #dc322f;
}
a:hover {
  color: #dc322f;
  border-bottom: 1px dotted #dc322f;
}
body > footer a:hover {
  text-decoration: none;
  border-bottom: none;
}
