@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);

body {
  margin: 0;
  padding: 0;
  background: #eee8d5;
  color: #586e75;
  font-family: "Gill Sans", "Helvetica Neue", Arial, sans-serif;
}
body > header, body > article, body > footer {
  padding: 0 10em;
}
body > header, body > footer {
  background: #eee8d5;
  border-color: #93a1a1;
  border-style: dotted;
  border-width: 0;
}
body > header {
  border-width: 0 0 2px 0;
}
body > header hgroup {
  margin: 0;
  padding: 2em 0;
}
body > header hgroup h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
body > header hgroup h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
}
article h1, article h2, article h3 {
  font-family: "Ubuntu", "Gill Sans", "Helvetica Neue", Arial, sans-serif;
}
body > article {
  background: #fdf6e3;
  padding-bottom: 5em;
  padding-top: 2em;
}
body > footer {
  padding-bottom: 5em;
  padding-top: 1em;
  border-width: 2px 0 0 0;
}
body > footer section.elsewhere p, body > footer section.elsewhere ul {
  float: left;
}
body > footer section.elsewhere ul {
  padding-left: 1em;
}
body > footer section.elsewhere ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  width: 16px;
  height: 16px;
}
body > footer section.elsewhere:before, body > footer section.elsewhere:after {
  content: "";
  display: table;
}
body > footer section.elsewhere:after {
  clear: both;
}
body > footer section.credits {
  color: #93a1a1;
  font-size: 0.8em;
}

body.error p {
  font-size: 10px;
  padding: 0 10px 0 22px;
}
body.error em {
  display: block;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
}
body.error em q {
  position: relative;
}
body.error em q::before {
  position: absolute;
  right: 100%;
}
