.contact.vcard p { margin: 0; }
.contact.vcard .adr { margin-top: 1em; }
address.vcard { font-style: normal; }
ul.vcalendar { list-style: none; padding-left: 0; margin-left: 0; }
.experience.vevent .org, .experience.vevent .title { display: inline; }
.experience .adr, .experience .period, .education .adr, .education .period { font-size: 0.8em; }
.experience .period, .experience .period *, .education .period, .education .period * { font-style: italic; }
.experience p, .education p { margin: 0.1em 0; }
.experience p.description, .education p.description { margin: 0.5em 0; }
.experience h3, .education h3 { margin-bottom: 0.5em; }
ul.skills { list-style: none; padding-left: 0.5em; margin-left: 0.5em; margin-top: 0; }
h2, h3 { margin-bottom: 0.5em; }
ul.vcalendar .summary { margin-top: 1em; margin-bottom: 0.5em; }
.description p { padding-bottom: 0.25em; }