<footer>
  <section class="elsewhere">
    <p>This is me elsewhere on the internet:</p>
    <ul>
      <li><a href="http://github.com/pkqk" rel="me"><img src="/img/github.png" alt="GitHub"/></a></li>
      <li><a href="http://twitter.com/pkqk" rel="me"><img src="/img/twitter.png" alt="Twitter"/></a></li>
      <li><a href="http://instagram.com/pkqk" rel="me" class="ig-b- ig-b-16"><img src="//badges.instagram.com/static/images/ig-badge-16.png" alt="Instagram" /></a></li>
      <li><a href="http://www.facebook.com/adam.sven.johnson" rel="me"><img src="/img/facebook.png" alt="Facebook"/></a></li>
      <li><a href="http://tumblr.pkqk.net" rel="me"><img src="/img/tumblr.png" alt="Tumblr"/></a></li>
      <li><a href="http://www.last.fm/user/pkqk" rel="me"><img src="/img/lastfm.png" alt="Last.fm"/></a></li>
      <li><a href="http://www.linkedin.com/in/adamsvenjohnson" rel="me"><img src="/img/linkedin.png" alt="LinkedIn" /></a></li>
    </ul>
  </section>
  <section class="credits">
    <p>The colour choices come from the very clever <a href="http://ethanschoonover.com/solarized">solarized</a> project.</p>
  </section>
</footer>
