<meta charset="utf-8">
<link rel="stylesheet" href="{{ page.style | default: page.layout | prepend: "/style/" | append: ".css" | relative_url }}" media="all">
<link rel="author" href="http://pkqk.net">
<meta name="author" content="Adam Sven Johnson">
{% if page.description or page.subtitle %}<meta name="description" content="{{ page.description | default: page.subtitle }}">{% endif %}
<meta name="viewport" content="width=device-width, user-scalable=no" />
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
