body {
  background: #00a;
  color: #fff;
  font-family: monospace;
  margin: 25vh 25vw 0;
  font-size: 1.2em;
}

h1 {
  text-align: center;
  text-transform: uppercase;

  span {
    padding: 1px;
    background: #aaa;
    color: #00a;
  }
}

ul {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

p.anykey {
  text-align: center;
}
