@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);

body {
  margin: 0;
  padding: 0;
  background: $base2;
  color: $base01;
  font-family: "Gill Sans", "Helvetica Neue", Arial, sans-serif;
}
body > header, body > article, body > footer {
  padding: 0 10em;
}
body > header, body > footer {
  background: $base2;
  border-color: $base1;
  border-style: dotted;
  border-width: 0;
}
body > header {
  border-width: 0 0 2px 0;
  padding: 2em 10em;
}
body > header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
body > header h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
}
article h1, article h2, article h3 {
  font-family: "Ubuntu", "Gill Sans", "Helvetica Neue", Arial, sans-serif;
}
body > article {
  background: $base3;
  padding-bottom: 5em;
  padding-top: 2em;
}
body > footer {
  padding-bottom: 5em;
  padding-top: 1em;
  border-width: 2px 0 0 0;
}
body > footer section.elsewhere p, body > footer section.elsewhere ul {
  float: left;
}
body > footer section.elsewhere ul {
  padding-left: 1em;
}
body > footer section.elsewhere ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  width: 16px;
  height: 16px;
}
body > footer section.elsewhere:before, body > footer section.elsewhere:after {
  content: "";
  display: table;
}
body > footer section.elsewhere:after {
  clear: both;
}
body > footer section.credits {
  color: $base1;
  font-size: 0.8em;
}

/* Instagram badge styling */
.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-16 { width: 16px; height: 16px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .ig-b-16 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-16@2x.png); background-size: 60px 178px; }
}
