.hresume {
  abbr {
    text-decoration: none;
  }
  .contact.vcard p { margin: 0; }
  address.vcard { font-style: normal; }
  ul.vcalendar { padding-left: 0; margin-left: 0; }
  ul.vcalendar li { list-style: none; }
  li.experience > p { margin: 0; }
  li.education > p { margin: 0; }

  li.experience {
    clear: both;

    img.logo {
      width: 80px;
      height: 80px;
      float: left;
      margin-right: 1em;
    }
  }

  p.formats {
    a, a:hover {
      border-bottom: none;
      outline: none;
      background: none;
    }
  }
  a.tel { display: none; }

  @media print {
    a.pdf { display: none; }
    a.tel { display: initial; }
  }
}
