.hresume {
  .contact.vcard p { margin: 0; }
  address.vcard { font-style: normal; }
  ul.vcalendar { padding-left: 0; margin-left: 0; }
  ul.vcalendar li { list-style: none; }
  li.experience > p { margin: 0; }
  li.education > p { margin: 0; }

  p.formats {
    a, a:hover {
      border-bottom: none;
      outline: none;
      background: none;
    }
  }
  a.tel { display: none; }
}
